#base{
  padding: 50px 5px 50px 5px;
  text-align: center;
}
#header{
  padding: 0px 5px 0px 5px;
}
#footer{
  padding: 0px 5px 0px 5px;
}
#tweet{
  padding: 10px 0px 5px 0px;
}
#like{
  padding: 10px 0px 5px 0px;
}
#line{
  padding: 10px 0px 5px 10px;
}
#content{
  display: inline-block;
}
#item{
  padding: 5px 0px 5px 0px;
}
#burger{
  height : 30px;
}
#error{
  padding: 30px 0px 50px 0px;
}
